[submodule "iptest/uip"]
	path = iptest/uip
	url = https://github.com/imihajlow/ccpu-uip.git
[submodule "lanpong/uip"]
	path = lanpong/uip
	url = https://github.com/imihajlow/ccpu-uip.git
[submodule "dhcpc/uip"]
	path = dhcpc/uip
	url = https://github.com/imihajlow/ccpu-uip.git
